/* HEADER */

#topbar {
  background: #A98D7C;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
}

#topbar .contact-info i {
  color: #fff;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif, 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

#topbar .social-links a:hover {
  color: white;
}



  .about .about-img {
    min-height: 500px;
    background-repeat: no-repeat;
  }
  
  .about h3 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
    font-family: var(--font-secondary);
  }
  
  .about .call-us {
    left: 10%;
    right: 10%;
    bottom: 10%;
    background-color: #fff;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
    padding: 20px;
    text-align: center;
  }
  
  .about .call-us h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .about .call-us p {
    font-size: 28px;
    font-weight: 700;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding: 0 0 8px 26px;
    position: relative;
  }
  
  .about .content ul i {
    position: absolute;
    font-size: 20px;
    left: 0;
    top: -3px;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  

  /*--------------------------------------------------------------
# Why Us Section
--------------------------------------------------------------*/
.why-us .why-box {
    padding: 30px;;
    color: #fff;
    background:  #A98D7C;
  }
  
  .why-us .why-box h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
    color: black;
  }
  
  .why-us .why-box p {
    margin-bottom: 30px;
    color: black;
  }
  
  .why-us .why-box .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
  }
  
  .why-us .why-box .more-btn i {
    font-size: 14px;
  }
  
  .why-us .why-box .more-btn:hover {
    color: black;
    background: #fff;
  }
  
  .why-us .icon-box {
    text-align: center;
    background: #fff;
    padding: 40px 30px;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(55, 55, 63, 0.1);
    transition: 0.3s;
  }
  
  .why-us .icon-box i {
    color: black;
    margin-bottom: 30px;
    font-size: 32px;
    margin-bottom: 30px;
    background:  #A98D7C;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
  }
  
  .why-us .icon-box h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 30px 0;
  }
  
  .why-us .icon-box p {
    font-size: 15px;
    color: #6c757d;
  }
  
  @media (min-width: 1200px) {
    .why-us .icon-box:hover {
      transform: scale(1.1);
    }
  }

  .fix-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/fixed-bg.jpg") center;
    background-size: cover;
    padding: 100px 0;
    height: 250px;
  }
  @media (min-width: 1600px) {
    .fix-img {
      position: fixed;
    }
  }